@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Open+Sans:wght@600&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
}

#prenext-posts .bg-render{
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 100%;
    background-color: #F2F2F2;    
    overflow: hidden;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#prenext-posts{
    position: relative;
}
#prenext-posts .up-row{
    margin: 0;
}
#prenext-posts .row{
    margin-bottom: 0;
}
#prenext-posts .article-row{
    padding-bottom: 50px;
}
#prenext-posts h3{
    position: relative;
    margin: 50px 0px;
    color: black;
    font-size: 30px;
    font-weight: 500;
}
#artDetail .container{
    max-width: 900px;
    margin-bottom: 60px;
}
#artDetail .post-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}
#artDetail .post-img{
    position: relative;
}
#artDetail .post-img .img-bg{
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 100vw;
    height: 100vh;
    max-height: 256px;
    z-index: -1;
    overflow: hidden;
    background-color: #F2F2F2;
    ;
}
#artDetail .post-img img{
    width: 100%;
    height: 100%;
    max-height: 320px;
}
#artDetail hr{
    margin: 11px 0;
}
#artDetail .post-img .quotation{
    display: inline-block;
    /* margin-left: 474px; */
    padding: 20px 12px;
    max-width: 400px;
    position: absolute;
    right: 26px;
    bottom: -30px;
}
#artDetail .post-img .quotation p{
    margin: 0;
    font-size: 20px;
}
#artDetail .post-img .quotation .q-mark{
    font-size: 32px;
}
#artDetail .post-img .quotation .q-content{
    padding-left: 13px;
    padding-right: 13px;
}
#artDetail .post-info-tags{
    margin-top: 50px;
}
#artDetail .post-info-tags a:hover{
    color: orange;
}
#artDetail .post-info{
    font-size: 16px;
    font-weight: 500;
}

#aboutme h1{
    padding-top: 30px;
}
#aboutme .social-link{
    padding-bottom: 30px;
}
#aboutme.about-container{
    margin-bottom: 30px;
}

.btc-price span{
    margin-right: 10px;
    font-size: 16px;
    padding-top: 0px;
    vertical-align: top;
}
.btc-price i{
    font-size: 16px;
    height: 20px;
}
.stock-price i{
    font-size: 16px;
    height: 20px;
}
.stock-price .stock{
    display: inline-block;
    color: black;
    font-size: 16px;
    margin-right: 32px;
}

/* footer區塊1 */
footer .footer-nav{
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
}
footer .footer-nav .pic{    
    display: inline-block;
    justify-content: start; 
    grid-column-start: 1;
}
footer .footer-nav .footer-items{  
    grid-column-start: 2;
    justify-content: end; 
    text-align: right;
}
footer .footer-nav .footer-item{    
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

/* footer區塊2 */
footer .copyright-block{
    display: grid;
    grid-template-columns: 50% 50%;
}
footer .copyright-text{
    justify-content: start; 
    grid-column-start: 1;
}
footer .social-link{
    grid-column-start: 2;
    justify-content: end; 
    text-align: right;
}

footer .footer-nfts h1{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
footer .footer-nfts h2{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts h3{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts h4{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts a{
    margin-right: 10px;
}
footer .row .col{
    padding-left: 0px;
}
footer .nft-rows.row{
    height: 100vh;
    max-height: 155px;
    margin-bottom: 40px;
}
footer .nft-rows{
    height: 100vh;
    max-height: 155px;
}
footer .footer-info{
    height: 100vh;
    max-height: 155px;
    border-bottom: solid 1px black;
    padding-right: 0px !important;
}
footer .coin-block{
    /* display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px; */
}
footer .coin-left{
    grid-column-start: 1;
    justify-content: start;
    display: inline-block;
}
footer .coin-right{
    grid-column-start: 2;
    justify-content: end;
    display: inline-block;
    float: right;   
}
footer .coin-right h4{
    /* display: inline-block;  */
    text-align: right;
}
footer hr{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    margin: 0px;
    border-top: 2px solid black;
    vertical-align: bottom;
    padding-bottom: 50px;
}

/*nav*/
.nav-menu{
    padding-top: 20px;
    padding-bottom: 0px;
}
.nav .nav-menu{
    padding: 0px;
}
.nav .nav-menu .logo-block a{
    padding-left: 0px;
}
.nav .nav-menu .logo-img{
    padding-left: 0px;
    padding-right: 60px;
}

/*carousel*/
.swiper{
    display: block;
    /* background-color: white; */
    color: black;
    clear: both;
    min-height: 5vh;
    max-width: 94vw;
}
.slide-container{
    box-shadow: -2px 2px 3px 1px rgba(128, 128, 128, 0.3);   
}
/* .container{
    min-width: 98%;
} */
.swiper-pagination-clickable .swiper-pagination-bullet {
    display: none;
}
.swiper-slide{
    text-align: center;
    padding: 0 10px;
}
.swiper-slide a{
    color: black;
    border: 1px ;
}
.swiper-button-next:after, .swiper-button-prev:after {
    background-color: black;
    color: white;
    content: ''
}
.swiper-btc-block-date{
    width: 150px!important;
    text-align:left!important;
}
.swiper-btc-block-value{
    width: 250px!important;
    text-align:left!important;
}
.swiper-btc-block-high{
    width: 200px!important;
    text-align:left!important;
}
.swiper-headline{
    width: 50%!important;
    height: 50%!important;
}
.swiper-headline-block{
    width: 50%!important;
    height: 100px!important;
}

/*content*/
.content{
    padding-top: 5%;
    clear: both;
}

/*url-now*/
.url-now{
    font-size: 15px;
    margin: 0px;
    margin-top: 45px ;
    padding: 0px;
    color: black !important;
}
.author-name{
    color: black !important;
}
.author-about{
    color: black !important;
}
.author-link-block{
    display: flex;
    padding: 0;
}
.author-link{
    font-size: 25px;
    margin-right: 15px;
}

/*articles*/
.article{
    position: relative !important;
    /* width: 40% !important; */
    left: 0 !important;
    top: 0 !important;
    margin: 15px auto !important;
}

/*readmore*/
#readmore{
    cursor: pointer;
}

.readmore{
    margin-top: 80px;
    margin-bottom: 80px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 120px;    
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

/*social-block*/
#social-block{
    position: fixed;
    right: 20px;
    top: 40vh;
    text-align: center;
}
#social-block a{
    font-size: 20px;
}
#social-block-share{
    font-style: normal;
    font-size: 14px;
}

/*about page*/
#aboutme{
    background: #3f3f3f;
}
#aboutme h1{
    color: white;
}
#aboutme .about-info{
    color: white;
    line-height: 30px;
}


@media only screen and (max-width: 601px) {
    
    article .card-title{
        margin-top: 12px;
    }
    article .summary{
        display: none;
    }
    article .card-image img {
        max-height: 150px;
    }
    article .publish-info {
        /* max-height: 150px; */
        min-height: 150px;
    }
    
    /* footer區塊1 */
    footer .footer-nav{
        grid-template: 1fr 1fr/ 1fr;
    }
    footer .footer-nav .pic{    
        justify-content: center; 
        grid-area: 1 / 1;
        text-align: center;
    }
    footer .footer-nav .footer-items{  
        grid-area: 2 / 1;
        justify-content: center; 
        text-align: center;
    }

    /* footer區塊2 */
    footer .copyright-block{
        grid-template: 1fr 1fr/ 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer .copyright-text{
        justify-content: center; 
        grid-area: 1 / 1;
        text-align: center;
    }
    footer .social-link{
        grid-area: 2 / 1;
        justify-content: center; 
        text-align: center;        
    }

    /* footer 區塊3 */
    footer .footer-info{
        height: auto;
        max-height: auto;     
        border-bottom: none;   
        margin-bottom: 20px;
    }
    footer .nft-row{
        margin-bottom: 20px;
        border-bottom: solid 1px black;
    }

    footer .coin-block{
        grid-template: 1fr 1fr 1fr/ 1fr;
    }
    footer .coin-left{
        grid-area: 1 / 1;
        justify-content: start; 
    }
    footer .coin-right{
        grid-area: 2 / 1;
        justify-content: start; 
    }
    footer hr{
        grid-area: 3 / 1;
    }
}