footer .footer-nfts h1{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
footer .footer-nfts h2{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts h3{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts h4{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .row .col{
    padding-left: 0px;
}
footer hr{
    margin: 0px;
    border-top: 2px solid black;
    vertical-align: bottom;
    padding-bottom: 50px;
}


/*nav*/
.nav-menu{
    padding-top: 20px;
    padding-bottom: 0px;
}
/*carousel*/
.swiper{
    display: block;
    background-color: white;
    color: black;
    clear: both;
    min-height: 5vh;
    padding: 0 5%;
}
.slide-container{
    box-shadow: -2px 2px 3px 1px rgba(128, 128, 128, 0.3);   
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    display: none;
}
.swiper-slide{
    text-align: center;
    padding: 0 10px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    background-color: black;
    color: white;
}
/*content*/
.content{
    padding-top: 5%;
    clear: both;
}

#articles{
    min-width: 90%;
}

/*readmore*/
.readmore{
    z-index: 10;
    cursor: pointer;
}