#artDetail .container{
    max-width: 900px;
}
#artDetail .post-title{
    font-size: 40px;
    font-weight: 500;
}
#artDetail .post-img{
    position: relative;
    /* width: 900px;
    height: 320px; */
}
#artDetail .post-img img{
    width: 100%;
    height: 100%;
    max-height: 320px;
}
#artDetail hr{
    margin: 11px 0;
}
#artDetail .post-img .quotation{
    display: inline-block;
    /* margin-left: 474px; */
    padding: 20px 12px;
    max-width: 400px;
    position: absolute;
    right: 26px;
    bottom: -30px;
}
#artDetail .post-img .quotation p{
    margin: 0;
    font-size: 20px;
}
#artDetail .post-img .quotation .q-mark{
    font-size: 32px;
}
#artDetail .post-img .quotation .q-content{
    padding-left: 13px;
    padding-right: 13px;
}
#artDetail .post-info-tags{
    margin-top: 50px;
}
#artDetail .post-info-tags a:hover{
    color: orange;
}
#artDetail .post-info{
    font-size: 16px;
    font-weight: 500;
}


.btc-price span{
    margin-right: 10px;
    font-size: 16px;
    padding-top: 0px;
    vertical-align: top;
}
.btc-price i{
    font-size: 16px;
    height: 20px;
}
.stock-price i{
    font-size: 16px;
    height: 20px;
}
.stock-price .stock{
    display: inline-block;
    color: black;
    font-size: 16px;
    margin-right: 32px;
}

.readmore{
    margin-top: 80px;
    margin-bottom: 80px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 120px;    
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}
footer .footer-nav{
    margin-top: 25px;
    margin-bottom: 25px;
}
footer .footer-nfts h1{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
footer .footer-nfts h2{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts h3{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .footer-nfts h4{
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    color: black;
}
footer .row .col{
    padding-left: 0px;
}
footer hr{
    margin: 0px;
    border-top: 2px solid black;
    vertical-align: bottom;
    padding-bottom: 50px;
}

/*nav*/
.nav-menu{
    padding-top: 20px;
    padding-bottom: 0px;
}

/*carousel*/
.swiper{
    display: block;
    background-color: white;
    color: black;
    clear: both;
    min-height: 5vh;
    max-width: 94vw;
}
.slide-container{
    box-shadow: -2px 2px 3px 1px rgba(128, 128, 128, 0.3);   
}
/* .container{
    min-width: 98%;
} */
.swiper-pagination-clickable .swiper-pagination-bullet {
    display: none;
}
.swiper-slide{
    text-align: center;
    padding: 0 10px;
}
.swiper-slide a{
    color: black;
    border: 1px ;
}
.swiper-button-next:after, .swiper-button-prev:after {
    background-color: black;
    color: white;
}

/*content*/
.content{
    padding-top: 5%;
    clear: both;
}

/*url-now*/
.url-now{
    color: black !important;
}
.author-name{
    color: black !important;
}
.author-about{
    color: black !important;
}

/*articles*/
#articles{
    max-width: 1280px;
}
.publish-info{
    z-index: 50;
}

/*readmore*/
#readmore{
    cursor: pointer;
}

/*social-block*/
#social-block{
    position: fixed;
    right: 20px;
    top: 40vh;
}
#social-expend{
    display: none;
}

/*about page*/
#aboutme{
    background: #3f3f3f;
}
#aboutme h1{
    color: white;
}
#aboutme .about-info{
    color: white;
    line-height: 30px;
}