<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 90.2vh;
    }
    .title{
        color: black !important;
    }
    .row{
        margin-top: 10%;
    }
</style>
<main class="content">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                <div class="brand">
                    <div class="title center-align">
                        尚未有相關文章
                    </div>
                    <div class="title center-align">
                        <a href="/">返回首頁</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
