<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購買比特幣</title>
</head>

<body>
  <h1>購買比特幣頁面</h1>
</body>
</html>