<main class="content">
  <!--找尋所有作者並清除重複作者-->
  <% 
  let allAuthors=[]
  site.posts.data.forEach(e => {
    allAuthors.push(e.author.name)
  })
  const noRepeatAuthors=allAuthors.filter((e,index,arr) =>{
    return arr.indexOf(e)===index
  })
  %>
  <div class="container">
    <div class="row article-row">
        <% noRepeatAuthors.forEach(author => { %>
          <div class="article-main-post col s12 m6 l4" data-aos="zoom-in">
              <!-- 資訊 -->
              <div class="card-content article-content col s12 m7">
                  <div class="publish-info">
                    <!-- 作者 -->
                    <span class="publish-author">
                        <a href="/author/<%= author %>/"><%= author %></a>
                    </span><br>
                  </div>
              </div>
          </div> 
        <% }); %>
    </div>
  </div>
</main>