<div class="carousel">
  <a class="carousel-item">關鍵字</a>
  <a class="carousel-item">關鍵字</a>
  <a class="carousel-item">關鍵字</a>
  <a class="carousel-item">關鍵字</a>
  <a class="carousel-item">關鍵字</a>
</div>
