<div class="slide-container">  
  <div class="container">
    <div class="swiper mySwiper" style="background-color: white;">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="/tags/比特">比特</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">乙太</a></div>
        <div class="swiper-slide"><a href="/tags/Defi">Defi</a></div>
        <div class="swiper-slide"><a href="/tags/區塊鏈">區塊鏈</a></div>
        <div class="swiper-slide"><a href="/tags/GameFi">GameFi</a></div>
        <div class="swiper-slide"><a href="/tags/NFT">NFT</a></div>
      </div>
      <div class="swiper-button-next">
        <i class="fa-solid fa-chevron-right" style="
        color: white;
        background-color: black;
        height: auto;
        font-size: x-large;
        position: absolute;
        left: 10px;
        width: 100%;
        text-align: center;
        "></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa-solid fa-chevron-left" style="
        color: white;
        background-color: black;
        height: auto;
        font-size: x-large;
        position: absolute;
        right: 10px;
        width: 100%;
        text-align: center;
        "></i>
      </div>
      
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  //輪播套件js
  const swiper = new Swiper(".mySwiper", {
    slidesPerView: 9,
    spaceBetween: -10,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  var width = window.innerWidth
  || document.documentElement.clientWidth
  || document.body.clientWidth;
  var height = window.innerHeight
  || document.documentElement.clientHeight
  || document.body.clientHeight;
  //show how many label
  
  
  count = Math.floor(width*0.9/200);
  space = (width*0.85-200*count);
  
  const swiper2 = new Swiper(".mySwiper2", {
      slidesPerView: count,
      spaceBetween: -space,
      slidesPerGroup: count,
      initialSlide: 5,
      loop: false,
      loopFillGroupWithBlank: false,
      pagination: {
      el: ".swiper-pagination",
      clickable: true,
      },
      navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
      },      
  });
  
  const btc_block_swiper = new Swiper(".myBtcSwiper", {
      slidesPerView: 3,
      spaceBetween: (300*3 - width),
      slidesOffsetAfter: 400,
      loop: false,
      loopFillGroupWithBlank: false,
      pagination: {
      el: ".swiper-pagination",
      clickable: true,
      },
  });

</script>