<div class="slide-container">  
  <div class="container ">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="/tags/乙太">乙太</a></div>
        <div class="swiper-slide"><a href="/tags/比特">比特</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字3</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字4</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字5</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字6</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字7</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字8</a></div>
        <div class="swiper-slide"><a href="/tags/乙太">關鍵字9</a></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  //輪播套件js
  const swiper = new Swiper(".mySwiper", {
    slidesPerView: 9,
    spaceBetween: -10,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  //關鍵字搜索
  
</script>